*{
    margin: 0;
    padding: 0;

}
.hero-section {

    background-image: url('../img/backimg.jpg');
    background-position: 50% 50%;
    background-size: cover;

    height: 707px;
    position: relative;


  }
  .navbarOnboarding{
    display: flex;
    padding-top: 38px;
    padding-left: 91px;

justify-content: space-between;
align-items: center;
  }
  .hero-text{
    color: #FFF;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 121px;
margin-top: 240px;
  }


  .buttons{
    display: flex;
align-items: center;
gap: 40px;
padding-right: 91px;
  }

  .loginButton{
    display: flex;
padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #A82F02;
color: #FFF;

/* Roboto */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

  .signUpButton{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: transparent;
border: 1px solid #A82F02;
color: #FFF;

/* Roboto */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .mainSection{


    background: #212121;

    height: 1938px;
  }
  .mainSectionHeader{
    color: #FFF;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;

  }
  .mainSectionHeader::after{
    content: '';
    display: block;
    width: 10%;
    height: 10px;
    background-color: #A82F02;

  }

  .mainSectionParagraph{
    color: rgba(255, 255, 255, 0.80);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 30px;

  }
  .mainSectionText{

    display: flex;
    flex-direction: column;


    padding-top: 203px;
    padding-left: 120px;


  }
.svg-text{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 68px;


}
svg{
   margin-right: 20px;
}

.movieContainer{

display: flex;
justify-content: flex-end;
margin-top: -620px;
margin-right: 120px;



}
.overlay-square{
    position: absolute;
  top: 95%; /* Adjust the position from the top */
  left: 85%; /* Adjust the position from the left */
  width: 247px;
  height: 247px;
  flex-shrink: 0; /* Adjust the height of the square */
  background-color:#A82F02; /* Adjust the color and opacity of the square */
  z-index: 1 ; 
}